/* edu_style1.css */
@charset "utf-8" ;
body{font-family: "Microsoft YaHei", "Î¢ÈíÑÅºÚ", "SimHei", "ºÚÌå", "ËÎÌå","Arial", "Verdana", "Helvetica","ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",sans-serif
;margin:0px auto;font-size:12px;color: #333;  text-align:left; background:#FFFAEA url(http://img.eol.cn/html/rd/cernet20/images/bg.jpg) no-repeat center top; padding-top:286px;}
form, img, p{margin: 0px auto;border:0px;}
ul, li,ol,dl,dt,dd{margin:0px auto;padding:0px;list-style:none;list-style-position:outside;}
a,input{outline:none;}
a:link, a:visited {color: #333333;text-decoration: none;}
a:hover{color:#C50007;text-decoration: underline;}
html { overflow-x:hidden;}
.nav_n{font-size:14px;position:relative;z-index:1000;padding:20px 0 0 8px; width:1092px; margin:0 auto 20px;height:auto;}   
.nav_n ul{list-style:none;z-index:9999; }   
.nav_n li {float:left;position:relative; height:30px;color:#faf0cc;font-size:18px;}   
.nav_n ul ul {visibility:hidden;position:absolute;left:-15px;top:28px;z-index:9999; width:187px;height:auto; clear:both; background:url(http://www.edu.cn/html/rd/cernet20/images/nav_t_01.png) no-repeat left top; padding:0 0 0 0;}  
.nav_n table {position:absolute; top:0; left:0;}   
.nav_n ul li:hover ul,   
.nav_n ul a:hover ul{visibility:visible;}   
.nav_n a{display:block;margin:0px;text-decoration:none;color:#faf0cc;  }   
.nav_n a:hover{border:0px solid #000; text-decoration: underline; color:#faf0cc;}   
.nav_n ul ul li {clear:both;font-size:14px;color:#faf0cc; background:url(http://www.edu.cn/html/rd/cernet20/images/nav_t_02.png) repeat-y left top;}   
.nav_n ul ul li a{display:block;width:167px; padding-left:20px;height:31px; line-height:31px; vertical-align:middle;font-size:14px; font-weight:normal; color:#faf0cc;}   
.nav_n ul ul li a:hover{border:0;color:#faf0cc;width:167px; padding-left:20px;height:31px;line-height:31px; vertical-align:middle; text-decoration:none;background:url(http://www.edu.cn/html/rd/cernet20/images/nav_t_04.jpg) no-repeat left top;}  
