/* 程序名称：level2_menu.css
   作用对象：edu_10_2_6.html*/
#menu {
	/* 定义外层图层样式*/
	padding-left: 100px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	height: 60px;
	background: #55AAEE;
	border: 1px solid #333333;
}

#menu ul {
	/*考虑到不同浏览器兼容性，去除列表项前的符号*/
	margin: 0px;
	padding: 0px;
}

#submenu {
	/*定义存放子菜单的图层样式*/
	width: 900px;
	/* 不要为100% */
	height: 28px;
	text-align: center;
}

#menu ul li {
	/*定义主菜单样式*/
	height: 30px;
	width: 115px;
	list-style: none;
	/*去除列表项符号*/
	float: left;
	/*列表项向左浮动 */
	display: inline;
	/*列表项为行内显示*/
	font: 0.9em Arial, Helvetica, sans-serif;
	text-align: center;
}

ul li a {
	/*定义主菜单中超链接样式*/
	color: #FFF;
	width: 114px;
	margin: 0px;
	padding: 0px 0px 0px 8px;
	text-decoration: none;
	display: block;
	/*超链接以块方式显示 */
	background: #55A0FF;
	line-height: 29px;
	border-bottom: 1px solid #ccc;
}

ul li #submenu ul li {
	/*定义子菜单中列表项的高度，与主菜单不同 */
	height: 25px;
}

ul li #submenu ul li a {
	/*定义子菜单中超链接的样式 */
	background: #55AAEE;
	line-height: 24px;
}

ul li a:hover {
	/*定义主菜单鼠标滑过时的样式 */
	background: #666;
	border-bottom: 1px dashed #FF0000;
}

ul li #submenu {
	/*定义子菜单初始状态为不显示 */
	display: none;
	/*visibility: hidden;*/
}

#submenu ul li {
	/*定义子菜单中列表项的样式 */
	height: 24px;
	width: 113px;
	list-style: none;
	float: left;
	display: inline;
	font: 0.8em Arial, Helvetica, sans-serif;
	text-align: center;
}

ul li:hover #submenu {
	/* 主菜单鼠标滑过时显示子菜单*/
	display: block;
	/*visibility: visible;*/
}

ul li #submenu ul li a:hover {
	background: #333;
	/* 子菜单鼠标滑过时指定新的背景颜色*/
}
